@charset "utf-8";

/*초기화*/
ul,li{
    list-style:none;
}

/*ex1*/
#ex1{
    background-color:skyblue;
    padding-left:0;
    margin-left:40px;
}

/*ex2*/
/*p{background-color:orange;} -> X */
/*div p{} -> 틀린건 아니지만 X */
/*div#ex2 p{background-color:orange;} -> OK */
#ex2 p{
    background-color:#ffcccc;
    width:100px;
    height:30px;
    text-align:center;
    line-height:30px;
} /*OK*/

/*div#ex2 p.ex2_1{border-top:10px solid gray;} -> OK */
/*#ex2 p.ex2_1{border-top:10px solid gray;} -> OK*/
/*#ex2 .ex2_1{border-top:10px solid gray;} -> OK*/
/*p.ex2_1{border-top:10px solid gray;} -> OK*/
/*.ex2_1{border-top:10px solid gray;} -> OK*/
/*위에 것들 처럼 다양하게 해도 됨. 이것저것 생략 가능한~*/

#ex2 p.ex2_1{border-top:10px solid gray;}
#ex2 p.ex2_2{border-left:2px dotted darkblue;}
#ex2 p.ex2_3{border:3px dashed darkolivegreen;}
#ex2 p.ex2_4{border-bottom:double 4px rosybrown;}
#ex2 p.ex2_5{border-right:5px groove plum;}
#ex2 p.ex2_6{border:ridge 5px coral;}
#ex2 p.ex2_7{border:inset 3px palevioletred;}
#ex2 p.ex2_8{border:outset 5px yellowgreen;}
#ex2 p.ex2_9{border:2px solid hotpink; border-left:none; border-right:none;}
#ex2 p.ex2_10{border-top:2px solid saddlebrown; border-bottom:2px solid rebeccapurple;}

/*ex3*/
.ex3_1{text-transform:capitalize;}
.ex3_2{text-transform:uppercase;}
.ex3_3{text-transform:lowercase ;}

/*ex4*/
.ex4_2{font-variant:none;}
.ex4_2{font-variant:small-caps;}

/*ex5*/
#ex5 *{margin:0; padding:0;}/*여백 초기화*/
#ex5 p{border:1px solid #ff9999; width:400px; height:150px; font-size:100px;}
#ex5 p span{font-size:12px; border-top:1px solid green; border-bottom:1px solid green;}
#ex5 p .ex5_1{vertical-align:super;}
#ex5 p .ex5_2{vertical-align:sub;}
#ex5 p .ex5_3{vertical-align:baseline;} /*default*/
#ex5 p .ex5_4{vertical-align:top;}
#ex5 p .ex5_5{vertical-align:middle;}
#ex5 p .ex5_6{vertical-align:bottom;}

/*ex6*/
#ex6 *{margin:0; padding:0;}/*여백초기화*/
#ex6 p{border:1px solid #ff9999; width:400px; height:150px; font-size:100px;}
#ex6 p .ex6_1{vertical-align:super;}
#ex6 p .ex6_2{vertical-align:sub;}
#ex6 p .ex6_3{vertical-align:baseline;}
#ex6 p .ex6_4{vertical-align:top;}
#ex6 p .ex6_5{vertical-align:middle;}
#ex6 p .ex6_6{vertical-align:bottom;}

/*ex7*/
#ex7 *{margin:0; padding:0;}/*여백초기화*/
#ex7 p{border:1px solid green; width:400px; height:150px;}
#ex7 p span{color:purple;}
#ex7 .ex7_1 span{vertical-align:0px;}
#ex7 .ex7_2 span{vertical-align:25px;}
#ex7 .ex7_3 span{vertical-align:-25px;}
#ex7 .ex7_4 span{vertical-align:-50px;}









