@charset "utf-8";

div{
    border: solid 3px black;
    width:560px;
    height:510px;
    background-color:#ff99cb;
    color:#6a635f;
    margin-left:84px;
    padding:15px 40px 4px 14px;
}
ul{
    list-style:none;
    border: solid 1px black;
    width:219px;
    height:112px;
    background-color:#ffffcd;
    padding-left:8px;
    padding-top:6px;
    margin-left:37px;
    line-height:18px;
}