@charset "utf=8";

#map a{
    text-decoration:none;
    color:#4d3f3e;
    font-weight:bold;
    word-spacing:25px;
}

#map_1 iframe{
    border:solid 5px #eaebec;
    width:740px;
    height:780px;
    margin-top:22px;
    margin-left:10px;
}